.main {
    background-color: #FAF9F6;
    display: flex;
    min-height: 800px;
}

.titles {
    font-family: Tahoma, sans-serif;
}

.paragraph {
    font-family: "Lucida Console", monospace;
}

.icon .info {
    flex: 1;
}

#cool-link {
    text-decoration: none;
    color: black;
}

.icon {
    background-color: #FAF9F6;
    padding-left: 5%;
    margin-right: 12%;
}

.info {
    padding-top: 1%;
    margin-right: 5px;
    background-color: #FAF9F6;
    text-align: center;
}